body {
    font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 1;
margin: 3%;
padding: 0%;
 background: linear-gradient(45deg, #fffbfc, #1abc1f);
}

header{
    background-color: bisque;
    text-align: center;
    width: auto;
    height: 150px;
    padding: 1px;
    font-weight: bold;
    font-size: 24px;
    border: dotted 20px;
    border-color: red;
    transition: all 0.5s ease; ;
}
header:hover {
    border: dotted 10px;
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
    background: linear-gradient(-15deg,  bisque, #ff0101);
}


nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
   }
main {
    width: 80%;
    margin: auto;
    padding: 10px;
}
section v ul li p {
    color: #2b0ecc;
}
section {

    background-color: aquamarine;
    border-radius: 40px;
    line-height: 1.5;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    gap: 10px;
    transition: all 0.5s ease; 
    color: #cc1b0e;
    cursor: default;
}
section:hover { 
    background-color: rgb(26, 185, 132);
    transform: translateY(-2px);
}
section h3 {
    color: #0c84fc;
    border-bottom: 2px solid #c9cc0e;
    padding-bottom: 5px;
    margin-top: 0;
}
form label {
    display: block;
    margin-bottom: 15px;
}
#descricao {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    }
nav ul li a {
    color: rgb(8, 31, 241);
    text-decoration-color: #3c17a1;
    display: block;
    padding: 15px 10px;
    font-weight: bold;
    font-size: 19px;
    color: rgb(76, 0, 255);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 30px;
}

button {
    background-color: #09e9bc;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    width:100px;
    height: 40px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin: 20px;
    border: none;
}
button:hover {
    background-color: #16a085;
    transform: translateY(-1px);

}
button:active {
    transform: translateY(3px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
*{

}

