
body {
  height: 100vh;
  margin: 20px;
  padding: 0px;
  font-family: courier, times, sans-serif, monospace;
  

  background: linear-gradient(to bottom right,#eeff01,#e90a0a);
  .container {
     background: linear-gradient(to bottom right,#01ff80,#e90a0a);
    justify-content: center;
    margin: 0px;
    /* background-color: rgb(49, 223, 43); */
    width:640px;
    height: 200px;
    border: 8px solid rgb(17, 20, 211); 
    border-radius: 20px;
    background: linear-gradient(to upper left,red,blue);
    display: flex;
   }
  .box  {
    /* width: 200px; */
    /* height: 50px; */
    /* background-color: aliceblue; */
    border: 4px solid rgb(233, 6, 233);
   /* border-radius: 20px;*/
    margin: 20px auto;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
  } 
  H2 {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(6, 22, 243);
  }
  #b1 {
    width: 200px;
    height: 160px;
    background-color: rgb(231, 159, 165);
    background: linear-gradient(to bottom left, rgb(0, 217, 255), rgb(2, 2, 187));
    border: 2px solid rgb(191, 170, 250);
    border-radius: 20px;
    margin: 20px auto;
  }
  #b2 {
    width: 200px;
    height: 160px;
    background: linear-gradient(to bottom left, red, blue);
    border: 2px solid rgb(247, 6, 26);
    border-radius: 20px;
    margin: 20px auto;
    h3 {
      font-size: 1.5rem;
      text-align: center;
      color: rgb(6, 243, 18);
    }
  }
  #b3 {
    width: 200px;
    height: 160px;
    background-color: rgb(255, 2, 213);
    background: linear-gradient(to right,rgb(238, 255, 0),BLUE);
    border: 2px solid rgb(6, 247, 235);
    border-radius: 20px;
    margin: 20px auto;
  }
/* Adicione estilos adicionais conforme necessário */
 
  h1 {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(200, 253, 7);
    background-color: rgb(85, 42, 165);
    border: 2px solid rgb(247, 6, 247);
    border-radius: 20px;
    font-style: italic; 
  }
  H3 {
    font-size: 1.5rem;
    text-align: end;
    color: rgb(6, 243, 18);
  }
}